*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: url("/assets/fonts/poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
